html, body {
  height: 100%;
}
body {
    background-color: rgb(153, 191, 192)
}
.main {
    height: 100%;
}
form {
    padding: 10px;
    background-color: #3769c6;
    margin: 0 auto;
    width: max-content;
    border-radius: 5px;
}
form > input:not([type="submit"]) {
    appearance: none;
    font-size: 30px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}
form > input[type="submit"]{

}