main {
    right: 0;
    position: absolute;
    top: var(--top-bar-height);
    height: calc(100% - var(--top-bar-height));
    width: calc(100% - var(--navbar-width) - var(--navbar-gap));
}
main > h1 {
    height: 40px;
    margin: 0;
}
.day-box {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border: 1px solid #ddd;
}
#calendar {

    width: calc(100% - var(--navbar-gap));
    height: calc(100% - 40px - var(--navbar-gap));
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.green-appointment {
    border: 1px solid forestgreen;
    background-color: palegreen;
}
.blue-appointment {
    border: 1px solid mediumblue;
    background-color: lightskyblue;
}
.red-appointment {
    border: 1px solid darkred;
    background-color: pink;
}
.purple-appointment {
    border: 1px solid purple;
    background-color: violet;
}
.appointment {
    border-radius: 5px;
}