main > h1 {
    height: 40px;
    margin: 0;
    color: white;
}
main h2 {
    color: white;
}
main p {
    color: white;
}
#profile-image {
    border-radius: 50%;
    width: 300px;
    aspect-ratio: 1/1;
}
#about {
    display:flex;
    flex-flow: row nowrap;
    gap: 20px;
}
#ad-title, #post-title {
    font-size: 30px;
    width: 600px;
}
#ad-description, #post-content{
    width: 602px;
    font-size: 20px;
    height: 250px;
    font-family: "Arial"
}
input, textarea {
    background-color: rgb(153, 191, 192)
}
#posts > div {
    border: 1px solid white;
    padding-left: 10px;
}