main {
    right: 0;
    position: absolute;
    top: var(--top-bar-height);
    height: max-content;
    width: calc(100% - var(--navbar-width) - var(--navbar-gap));
}

body {
    background: rgb(153, 191, 192);
}

.container {
    display: grid;
    grid-template-rows: repeat(30, 50px);
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 1em, 3em;
    align-items: stretch;
    justify-items: stretch;
}

.featuredBox {
    background: moccasin;
    border-radius: 15px;
    grid-column: 2 / 13;
    grid-row: 2 / 10;
    display: flex;
    padding: 25px;
    gap: clamp(10px, 5vw, 75px);
    justify-content: center;
}

.featuredCoachBox {
    background: rgb(255, 206, 121);
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.featuredCoachContentBox {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: rgb(255, 192, 84);
    border-radius: 7px;
    width: 230px;
}

.header {
    position: fixed;
    width: 100%;
    background: rgb(26, 156, 179);
    top: 0px;
    left: 0px;
    z-index: 2;
}

.icon {
    padding-left: clamp(0px, 5vw, 40px);
    align-self: center;
    justify-self: start;
}
